@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 
  url('/images/pattern-lines.svg') repeat,
  url('/images/pattern-squiggly-line-top.svg') no-repeat,
  url('/images/background-desktop.png');
}

@font-face {
  font-family: 'Inconsolata'; /* Nom de la police */
  src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype'); /* Chemin relatif */
  font-weight: normal, bold;
  font-style: normal;
}

body {
  background: var(--background);
  background-size: cover; /* Ajuster la taille des patterns */
  font-family: Inconsolata;
  color: #ffffff;
}
